<h1> Create A New List: </h1>

<%= form_with @list do |Lists| %> 
  <%= Lists.label :name %>  
  <%= Lists.text_field :name %>
    <br />
  <%= Lists.label :description %>  
  <%= Lists.text_area :description %>
    <br />
  <%= Lists.label :link %>
  <%= Lists.text_field :link %> 
    <br /> 
  <%= Lists.submit  %> 
      
<% end %>


  <%= link_to 'Create New List', new_list_path  %>