<h1> Lists to Choose from: </h1>
  
<p id="notice" class=<%= notice ? 'success' : ''%>> <%= notice %> </p>

  <% @list.each do |list| %>
  <ul>
      <li> <%= list.name %> 
            <%= link_to 'Delete List', list_path, are you sure?  %>
      </li>
  </ul>   
  <% end %>   
  <span> <%= link_to 'Go To List', list_path:id %> </span>
  

