<div>

<h1 class="center aligned">Movie Watch List</h1>

<table id="movietable" class="ui striped right aligned table" >
 <thead>
  <tr >
    <th> Title </th>
    <th> Description </th>
    <th> Link </th>
    <th> Watched </th>
    <th> Rating </th>
  </tr>
 </thead>
  
 <tbody>
    <%  @movies.each do |m| %>
  <tr  >  
     <td> <%= m.title %> </td>
     <td> <%= m.description %> </td>
     <td> <%= m.link %> </td>
     <td> <%= m.watched %> </td> 
     <td> <%= m.rating %> </td>
  </tr>   
  <% end %>
  <%  if @movies.length == 0 %> 
  <em> Im sorry No Movies to Display </em>
  <% end %>
  </tbody>
  </table>  
</div>
<div>
  <span> <%= link_to "Add Movie to List", new_movie_path %> </span>
  <span> <%= link_to "Go Back to Lists", lists_path %> </span>
</div>

