<h1>Movie Watch List</h1>


<table>
  <tr>
    <th> Title </th>
    <th> Description </th>
    <th> Rating </th>
  </tr>

   <%  @movies.each do |movie| %>    
  <tr>
     <td <%= movie.title %> </td>
     <td <%= movie.description %> </td>
     <td <%= movie.link %> </td>
     <td <%= movie.watched %> </td>
     <td <%= movie.rating  %> </td>
     
   </tr>
   <% end %>

   <%  if @movies.size == 0  %>    
      <em> I'm sorry No Movies to Display </em>
   <% end %>

  </table>  
  
  <span> <%= link_to "Add Movie to List", new_movie_path %> </span>
  <span> <%= link_to "Go Back to Lists", lists_path %> </span>

<%  ## can use these for the delete actions in table: %>
<%   ##  <td <%= link_to Delete Movie, edit_movie_path%> </td> %>
<%   ##  <td <%= link_to Change Rating, edit_movie_path(:id) %> </td> %>
<% end %>