
<div class="row">
  <h1>Movies To Watch </h1>
  <div class="col-xs-12 col-md-8" >
		  <%= form_for @movies do |f| %> 
         <%= f.label "Movie Title" %>  
           <%= f.text_field :title, :required => true, autofocus: true %>
           <br />
         <%= f.label "Description" %>  
           <%= f.text_area :description, :required => true %>
           <br />
         <%= f.label "Link to Page" %>
           <%= f.text_field :link, :required => true %> 
           <br /> 
          <%= f.label "Have you seen the movie?" %>
           <%= f.text_field :watched, :required => true %>
           <br />
         <%= f.label "Stars" %>
           <%= f.text_field :rating %>
         <%= f.submit "Create" %> 
         <% end %>
	 </div>
</div>

