

  <div class="row">
    <h1>Add a Chore </h1>
    <div class="col-xs-12 col-md-8" >
       <%= form_for @activitys do |f| %> 
         <%= f.label "Name" %>  
         <%= f.text_field :name, :required => true %>
         <br />
         <%= f.label "Description" %>  
         <%= f.text_area :description %>
           <br />
         <%= f.label "Item Link" %>
         <%= f.text_field :link %> 
          <br /> 
         <%= f.submit "Create", class: 'ui button primary' %> 
     <% end %>

     
  </div>